<%- include('header') -%>

    <div class="box" id="heading">
        <h2> <%= listTitle %> </h2>
    </div>
    
<div class="box">
    <% for (let i=0; i<newListItems.length; i++) {%>
    <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i].name %></p>
    </div>
        <% } %>

        <form class="item" action="/compose" method="POST">
            <input name="postTitle" type="text" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>

    <%- include('footer') -%>

